*{
    margin: 0px;
    padding: 0px;
}

/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.btn{
    padding: 12px 16px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.btn:hover{
    background-color: blanchedalmond;
}

.bg{
    background-color: #1A0B2E;
}
.title{
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}
.sm-title{
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin: 16px 0px 16px 0px;
}
.sm-txt{
    color: rgba(255, 255, 255, 0.533);
    font-size: 0.95rem;
    font-weight: 400;
}
/* Main Styles */
nav{

}
.burger{
    display: none;
}
.nav-bar{
    padding: 16px 0px;
}
.nav-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0px auto;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-bar ul li a{
    color: white;
    text-decoration: none;
}
/* #Banner-Section{
    width: 100%;
} */
.bg-banner{
    background-image: url('./assets/hero-bg.png');
    /* background-size: cover; */
    background-position: center;
    
    height: 550px;
    padding: 101px 0px;
    /* margin-top: 20px; */
    width: 100%;
}
.bg-circle{
    position: relative;
    /* background-color: tan; */
}
.micro{
    position: absolute;
  /* background-color: aqua; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.badge{
    position: absolute;
    top: 5%;
    right: 5%;
    background: #00FF88;
    color: black;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: .80rem;
    font-weight: 600;
    box-shadow: 0px 4px 16px #00FF88;
}
.bg-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content{
    text-align: center;
    color: white;
}
.banner-content h1{
    font-size: 3rem;
    font-weight: 800;
    margin: 40px 0px 8px 0px;
}
.banner-content p{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.btn-2{
    padding: 12px 16px;
    border-radius: 25px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00FF88;
}
#About-Section{
    padding: 50px 0px 120px 0px;
}
.about-container{
    width: 75%;
    margin: 0px auto;
}
.about-text{
    text-align: center;
    color: rgba(255, 255, 255, 0.533);
    max-width: 50%;
    margin: 16px auto 20px auto;
    font-size: 0.9rem;
    font-weight: 400;
}
.about-text-2{
    text-align: center;
    color: rgba(255, 255, 255, 0.533);
    max-width: 60%;
    margin: 0px auto;
    font-size: 0.9rem;
    font-weight: 400;
}
.about-parts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    text-align: center;

    /* hr */
    border-top: 1px solid rgba(255, 255, 255, 0.133);
    padding-top: 80px;
    margin-top: 80px;
}
.apt h1{
    color: #00FF88;
    font-weight: 900;
    font-size: 2.5rem;
}
.apt p{
    color: rgba(255, 255, 255, 0.533);
    margin-top: 16px;
    font-size: 0.9rem;
    font-weight: 400;
}
#Why-Choose-Section{
    background-color: #230E3D;
    padding: 120px 0px 120px 0px;
}
.why-title{
    margin-bottom: 40px;
}
.Why-Choose-container{
    width: 75%;
    margin: 0px auto;
}
.box{
    padding: 40px;
    border-radius: 40px;
    background-color: #35116566;
}
.audio{
    grid-area: audio;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.rich{
    grid-area: rich;
}

.why-boxs{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "audio mobile mobile"
      "audio global global"
      "exclusive exclusive rich"
    ;
}
#Featured-Episodes-Section{

}
.Featured-container{
    width: 75%;
    margin: 0px auto;
    padding: 120px 0px 120px 0px;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
    margin-top: 40px;
}
.card{
    background-color: #35116566;
    border-radius: 25px;
    width: 380px;
}
.card iframe{
    border-radius: 25px 25px 0px 0px;

}
.card-contents{
    padding: 24px;
}
.time{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 14px;
}
.time h4{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}
#Host-Section{
    padding-bottom: 120px;
}
.host-content{
    width: 75%;
    margin: 40px auto 0px auto;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    background-color: #230E3D;
    gap: 24px;
}
.social-icons{
    display: flex;
    gap: 8px;
    margin-top: 16px;
}
.ring{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 50%;
}
footer{
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    height: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 35px 0px;
}
.brand{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
.ft-logo{
    width: 360px;
    height: 50px;
    margin: 0px auto;
}


.hide{
    display: none;
}

@media screen and (max-width:576px){
    .about-parts{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .why-boxs{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
          "audio audio"
          "mobile mobile"
          "global global"
          "exclusive exclusive"
          "rich rich"
        ;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .nav-contents{
        width: 90%;
    }
    .nav-contents ul{
        display: none;
    }
    .nav-contents button{
        display: none;
    }
    .burger{
        display: block;
    }

    /*  */
    .bg-banner{
        padding: 40px 0px 0px 0px;
        /* background-size: cover; */
        width: 100%;
        background-position: center;
        background-size: cover;
        height: auto;
    }
    .bg-circle{
        width: 50%;
    }
    .micro{
        width: 30%;
    }
    .badge{
        top: 5%;
        right: 5%;
        padding: 6px 12px;
        font-size: 0.75rem;
    }


    #About-Section{
        padding: 40px 0px;
    }
    .about-container{
        width: 90%;
    }
    .about-text{
        max-width: 100%;
    }
    .about-text-2{
        max-width: 100%;
    }

    #Why-Choose-Section{
        padding: 40px 0px;
    }
    .Why-Choose-container{
        width: 90%;
    }


    .Featured-container{
        padding: 40px 0px;
        
    }
    .card{
        width: 120%;
    }


    #Host-Section{
        padding: 40px 0px;
    }
    .host-content{
        width: 90%;
        flex-direction: column;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }

    footer{
        height: 230px;
        /* min-height: auto; */
        padding: 40px 0px;
    }
    .brands{
        flex-wrap: wrap;
        gap: 25px;
        width: 69%;
        margin: 20px auto;
    }
    .footer-container{
        width: 90%;
    }
    .ft-logo{
        width: 180px;
        height: 26px;
    }
    .brand h4{
        font-size: 0.95rem;
    }
}

@media screen and (max-width:992px) and (min-width:577px) {
    .about-parts{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .nav-contents ul{
        display: none;
    }
    .nav-contents button{
        display: none;
    }
    .burger{
        display: block;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .host-content{
        flex-direction: column;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
        .why-boxs{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
          "audio mobile"
          "audio mobile"
          "global exclusive"
          "global exclusive"
          "rich rich"
        ;
    }
}