*{
    margin: 0px;
    padding: 0px;
}

/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.btn{
    padding: 12px 16px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.btn:hover{
    background-color: blanchedalmond;
}

.bg{
    background-color: #1A0B2E;
}
.title{
    color: white;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

/* Main Styles */
nav{

}
.nav-bar{
    padding: 16px 0px;
}
.nav-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0px auto;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-bar ul li a{
    color: white;
    text-decoration: none;
}
#Banner-Section{

}
.bg-banner{
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 550px;
    padding: 101px 0px;
    /* margin-top: 20px; */
}
.circle-bg{
    background: url('./assets/hero-circle.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mic-bg{
    background: url('./assets/microphone.png');
    background-repeat: no-repeat;
    max-width: 117px;
    width: 100%;
    height: 175px;
}
.banner-content{
    text-align: center;
    color: white;
}
.banner-content h1{
    font-size: 60px;
    font-weight: 800;
    margin: 40px 0px 8px 0px;
}
.banner-content p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.btn-2{
    padding: 12px 16px;
    border-radius: 25px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00FF88;
}
#About-Section{
    padding: 50px 0px 120px 0px;
}
.about-container{
    width: 85%;
    margin: 0px auto;
}
.about-text{
    text-align: center;
    color: rgba(255, 255, 255, 0.533);
    max-width: 50%;
    margin: 16px auto 20px auto;
    font-size: 16px;
    font-weight: 400;
}
.about-text-2{
    text-align: center;
    color: rgba(255, 255, 255, 0.533);
    max-width: 60%;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 400;
}
.about-parts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    text-align: center;

    /* hr */
    border-top: 1px solid rgba(255, 255, 255, 0.133);
    padding-top: 80px;
    margin-top: 80px;
}
.apt h1{
    color: #00FF88;
    font-weight: 900;
    font-size: 48px;
}
.apt p{
    color: rgba(255, 255, 255, 0.533);
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}
#Why-Choose-Section{
    background-color: #230E3D;
    padding: 120px 0px 120px 0px;
}
.why-title{
    margin-bottom: 40px;
}
.Why-Choose-container{
    width: 85%;
    margin: 0px auto;
}
.box{
    padding: 40px;
    border-radius: 40px;
    background-color: #35116566;
}
.audio{
    grid-area: audio;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.rich{
    grid-area: rich;
}

.why-boxs{
    display: grid;
    gap: 30px;
    grid-template-areas: 
      "audio mobile mobile"
      "audio global global"
      "exclusive exclusive rich"
    ;
}
#Featured-Episodes-Section{

}
#Host-Section{

}
footer{

}
